html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS variables */
/* The variables cld be defined in the root or in the body selector*/
:root{
    /*Instead of repeating the same variables each time in css
     we will define it here and called it liek this in style css
      wn needed var(--text-color);*/
      
    --primary-color:#4458dc;
    --primary-color2 : #854fee;
    --title-color:#141313;
    --text-color:#777777;
    --border-color:#201f1f17;
    --gardient-color: linear-gardient(90deg,#4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}